{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Rideshare App{% endblock %}Document</title>
    <link rel="stylesheet" href="{% static style.css % }">
</head>
<body>
    <header>
        <h1>Welcome to Rideshare</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'route_list' %}">Routes</a></li>
            <li><a href="{% url 'route_create' %}">Create Routes</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>